/build/
app/build/
# Android build
/build/
app/build/

# Android Studio
.idea/
*.iml
local.properties

# Gradle
.gradle/
**/build/

# Signing files
*.jks
*.keystore

# Firebase
app/google-services.json
